{{ if .Site.Params.options.darkMode -}}
  {{ $darkModeInit := resources.Get "js/darkmode-init.js" | js.Build | minify -}}
  <script>{{ $darkModeInit.Content | safeJS }}</script>
{{ end -}}
{{- if and (.Site.Params.alert) (.Site.Params.alertDismissable) -}}
  {{ $alertInit := resources.Get "js/alert-init.js" | js.Build | minify -}}
  <script>{{ $alertInit.Content | safeJS }}</script>
{{- end -}}
{{- if .Site.GoogleAnalytics -}}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
  {{ $GA := resources.Get "js/google-analytics.js" | resources.ExecuteAsTemplate "js/ga.js" . -}}
  {{ $GA := $GA | minify | fingerprint "sha512" -}}
  <script src="{{ $GA.RelPermalink }}" integrity="{{ $GA.Data.Integrity }}" crossorigin="anonymous" defer></script>
{{- end -}}
