{{ $people := slice }}
{{ $contribute_type := slice }}
{{ range $index, $contributor := .Params.contributors }}
{{ $people = $people | append $contributor }}
{{ $contribute_type = $contribute_type | append "contributors" }}
{{ end }}
{{ range $index, $speaker := .Params.speakers }}
{{ $people = $people | append $speaker }}
{{ $contribute_type = $contribute_type | append "speakers" }}
{{ end }}
{{ $last := sub (len $people) 1 }}
<p><small>Posted{{ if .Params.categories -}}&nbsp;in&nbsp;{{ range $index, $category := .Params.categories -}}{{ if gt $index 0 -}}, {{ end -}}<a class="stretched-link position-relative link-muted" href="{{ "categories/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}&nbsp;on&nbsp;{{ .PublishDate.Format "January 2, 2006" }} by {{ range $index, $contributor := $people }}{{ if gt $index 0 -}}{{ if eq $index $last }} and {{ else }}, {{ end }}{{ end }} <a class="stretched-link position-relative" href="{{ print (index $contribute_type $index) "/" | relURL }}{{ . | urlize }}/">{{ . }}({{ index $contribute_type $index | i18n }})</a>{{ end -}}&nbsp;&hyphen;&nbsp;<strong>{{ .ReadingTime -}}&nbsp;min read</strong></small><p>
