.pdf-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 150%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.pdf-slide {
  padding-top: 77%; /* 4:3 Aspect Ratio (divide 3 by 4 = 0.75) */
}

.pdf-wide-slide {
  padding-top: 58.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.pdf-document {
  padding-top: 152%;
}
