.people .content,
.contributors .content,
.speakers .content,
.blog .content,
.notice .content,
.page .content,
.error404 .content,
.seminar.list .content,
.docs.list .content,
.tutorial.list .content,
.showcase.list .content,
.categories.list .content,
.tags.list .content {
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.content img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 2rem 0 1rem;
}

.offcanvas-header {
  border-bottom: 1px solid $gray-300;
  padding-top: 1.0625rem;
  padding-bottom: 0.8125rem;
}

h5.offcanvas-title {
  margin: 0;
}

body.docs {
  padding-top: 0 !important;
}

@include media-breakpoint-up(md) {
  body {
    font-size: $font-size-md;

    /*
    padding-top: 4rem !important;
    */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin-bottom: 1.125rem;
  }
}

.home h1 {
  /* font-size: calc(1.375rem + 1.5vw); */
  font-size: calc(1.875rem + 1.5vw);
}

a:hover,
a:focus {
  text-decoration: underline;
}

a.btn:hover,
a.btn:focus {
  text-decoration: none;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-sm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*
.section svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-top;
}
*/

/*
body {
  padding-top: 3.5625rem;
}
*/

.docs-sidebar {
  order: 2;
}

@include media-breakpoint-up(lg) {
  .docs-sidebar {
    order: 0;
    border-right: 1px solid $gray-200;
  }

  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-sidebar {
      position: -webkit-sticky;
      position: sticky;
      top: 4rem;
      z-index: 1000;
      height: calc(100vh - 4rem);
    }

    .docs-sidebar-top {
      top: 0;
    }
  }
}

@include media-breakpoint-up(xl) {
  .docs-sidebar {
    flex: 0 1 320px;
  }
}

.docs-links {
  padding-bottom: 5rem;
}

@include media-breakpoint-up(lg) {
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .docs-links {
      max-height: calc(100vh - 4rem);
      overflow-y: scroll;
    }
  }
}

@include media-breakpoint-up(lg) {
  .docs-links {
    display: block;
    width: auto;
    margin-right: -1.5rem;
    padding-bottom: 4rem;
  }
}

.docs-toc {
  order: 2;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .docs-toc {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
  }

  .docs-toc-top {
    top: 0;
  }
}

.docs-content {
  padding-bottom: 3rem;
  order: 1;
}

.docs-navigation {
  border-top: 1px solid $gray-200;
  margin-top: 2rem;
  margin-bottom: 0;
  padding-top: 2rem;
}

.docs-navigation a {
  font-size: $font-size-base * 0.9;
}

@include media-breakpoint-up(lg) {
  .docs-navigation {
    margin-bottom: -1rem;
  }

  .docs-navigation a {
    font-size: $font-size-base;
  }
}

.navbar a:hover,
.navbar a:focus {
  text-decoration: none;
}

#TableOfContents ul,
#toc ul {
  padding-left: 0;
  list-style: none;
}

#toc a.active {
  color: $primary;
  font-weight: 500;
}

::selection {
  background: rgba(212, 53, 159, 0.2);
}

.bg-dots {
  background-image: radial-gradient($gray-300 15%, transparent 15%);
  background-position: 0 0;
  background-size: 1rem 1rem;
  -webkit-mask: linear-gradient(to top, #fff, transparent);
  mask: linear-gradient(to top, #fff, transparent);
  width: 100%;
  height: 9rem;
  margin-top: -10rem;
  z-index: -1;
}

.bg-dots-md {
  margin-top: -11rem;
}

.bg-dots-lg {
  margin-top: -12rem;
}

// https://fossheim.io/writing/posts/css-text-gradient/
.gradient-text {
  background-color: $primary;
  background-image:
    linear-gradient(
      90deg,
      $primary,
      $trans-blue-for-light 50%,
      $trans-pink-for-light
    );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.katex {
  font-size: $font-size-md;
}

.card-bar {
  border-top: 4px solid;
  border-image-source: $pride;
  border-image-slice: 1;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.show {
  opacity: 0.7;
}

@include media-breakpoint-up(md) {
  .modal-backdrop.show {
    opacity: 0;
  }
}

.meta-item {
  text-align: right;
}

.pagination {
  margin: auto;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
  color: #fff;
  background-color: $trans-pink !important;
}

.main-gate {
  background-image: $pride;
  background-color: #fff !important;

  --bs-btn-bg: #fff !important;
  --bs-btn-border-color: #fff !important;
  --bs-btn-hover-border-color: #fff !important;
  --bs-btn-active-bg: #fff !important;
  --bs-btn-active-border-color: #fff !important;
  --bs-btn-disabled-bg: #fff !important;
  --bs-btn-disabled-border-color: #fff !important;
}

// .social-share {
// 	position: relative;
// 	top: -0.5em;
// }

// .social-share ul {
// 	margin: 0;
// }

// .social-share ul li p {
// 	display: none;
// }

// .social-share .share-icons li {
// 	padding: 0 !important;
// 	padding-bottom: 10px !important;
// }

// .social-share .share-btn {
// 	padding: 0.25em;
// 	width: 3em;
// }

// .social-share-nav .share-btn h3{
// 	color: #ffffff;
// }

// ul.share-icons {
// 	cursor: default;
// 	list-style: none;
// 	padding-left: 0;
// 	margin-top: 1em;
// }

// ul.share-icons li {
// 	display: inline-block;
// 	padding: 0 1em 0 0;
// }

// ul.share-icons li:last-child {
// 	padding-right: 0;
// }

// ul.share-icons li > * {
// 	text-decoration: none;
// 	border: 0;
// }

// ul.share-icons li > *:before {
// 	-moz-osx-font-smoothing: grayscale;
// 	-webkit-font-smoothing: antialiased;
// 	font-family: FontAwesome;
// 	font-style: normal;
// 	font-weight: normal;
// 	text-transform: none !important;
// }

// ul.share-icons li > * .label {
// 	display: none;
// }

// .share-btn {
// 	display: inline-block;
// 	color: #ffffff;
// 	border: none;
// 	border-radius: 4px;
// 	// box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
// 	outline: none;
// 	text-align: center;
// 	text-decoration: none;
// }

// .share-btn:hover {
// 	color: #ffffff !important;
// }

// .share-btn:active {
// 	position: relative;
// 	top: 2px;
// 	box-shadow: none;
// 	color: #e2e2e2;
// 	outline: none;
// }
// .share-btn .widget-social__link-icon {
// 	margin: 0;
// }

// .share-btn.twitter     { background: #55acee; }
// .share-btn.google-plus { background: #dd4b39; }
// .share-btn.facebook    { background: #3B5998; }
// .share-btn.linkedin    { background: #4875B4; }
// .share-btn.stumbleupon { background: #EB4823; }
// .share-btn.pinterest   { background: #BD081C; }
// .share-btn.reddit      { background: #ff5700; }
// .share-btn.email       { background: #444444; }
// .share-btn.whatsapp    { background: #25d366; }

// .share-btn.twitter:hover     { background: #4c9ad6; }
// .share-btn.google-plus:hover { background: #c64333; }
// .share-btn.facebook:hover    { background: #2f4779; }
// .share-btn.linkedin:hover    { background: #4069a2; }
// .share-btn.stumbleupon:hover { background: #d3401f; }
// .share-btn.pinterest:hover   { background: #AD0000; }
// .share-btn.reddit:hover      { background: #e54e00; }
// .share-btn.email:hover       { background: #363636; }

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.footnote-ref ~ .footnote-ref ::before {
  content: ", ";
}

.lead {
  text-align: center;
  font-size: 150%;
  font-style: italic !important;
}
